<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Stats</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-5">System Stats</h1>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <h3>CPU Information</h3>
            <p><strong>Model:</strong> {{.CpuInfo.ModelName}}</p>
            <p><strong>Cores:</strong> {{.CpuInfo.Cores}}</p>
            <p><strong>Speed:</strong> {{.CpuInfo.Speed}} GHz</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <h3>CPU Usage</h3>
            <canvas id="cpuChart"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Memory Usage</h3>
            <canvas id="memoryChart"></canvas>
        </div>
    </div>
</div>
<script>
    let cpuData = {{.CPUUsage}};
    console.log(cpuData)
    let memoryData = {{.MemoryUsage}};
    console.log(memoryData)
</script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
